<li class="list-card list-group-item d-flex justify-content-between align-items-center">
  <div>
    <h2><%= list.title %></h1>
    <p><%= list.description %></p>
  </div>
  <div>
    <span class="badge bg-primary rounded-pill m-0"><%= list.gifts.count %></span>
    <i class="fa-sharp fa-solid fa-gift"></i>
    <%= link_to "Ver Más", list_path(list), class:"btn btn-primary text-uppercase" %>
  </div>
</li>
