<div class="container">
  <div class="row" data-controller="form-index">
    <div class="d-flex align-items-center justify-content-center my-4">
      <%= link_to "Crear Lista Nueva", new_list_path, class: "btn btn-primary", data: {action: "click->form-index#showCreate"} if policy(List).new? %>
    </div>
    <div class="d-none" data-form-index-target="form">
      <%= render 'list_new_form' %>
    </div>
  </div>

  <div class="flip-cards-grid">
    <div class="list-group my-4 flip-cards-grid">
        <%# Faltaria filtrar privacidad %>
        <% if params[:user].present? %>
          <% @lists.where(user_id: params[:user]).each do |list| %>
            <%= render 'list_card', list: list %>
          <% end %>
        <% else %>
          <% @lists.where(privacy: "pública").each do |list| %>
            <%= render 'list_card', list: list if list.gifts.present? %>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
