<div class="bg-grey justify-content-center d-flex align-items-center " style="height: 200px; color: white; font-size: 1.8em;">
  <div class="module-border-wrap" >
    <div class="module text-uppercase justify-content-center flex-column  d-flex align-items-center">
      <h1 style="">Listas</h1>
      <%= link_to "Crear Lista", new_list_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <ul class="list-group my-4">
      <% @lists.where(privacy: "pública").each do |list| %>
        <%= render 'list_card', list: list %>
      <% end %>
    </ul>
  </div>
</div>
