<div data-controller="form-index">
  <div class="d-flex  align-items-center">
    <%= link_to "Crear Lista", new_list_path, class: "btn btn-primary", data: {action: "click->form-index#showCreate"} if policy(List).new? %>
  </div>
  <div class="container">
    <div class="row d-none" data-form-index-target="form">
      <%= render 'list_new_form' %>
    </div>
    <div class="row">
      <ul class="list-group my-4">
        <% @lists.where(privacy: "pública").each do |list| %>
            <%= render 'list_card', list: list %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
