<div class="text-uppercase justify-content-center bg-dark d-flex align-items-center" style="height: 200px; color: white; font-size: 1.8em;">
  <h1 style="">Listas</h1>
</div>
<div class="container">
  <div class="row">
    <ul class="list-group my-4">
      <% @lists.all.each do |list| %>
        <%= render 'list_card', list: list %>
      <% end %>
    </ul>
  </div>
</div>
