<div style="font-size: 1.8em;">
  <div class="module-border-wrap" >
    <div class="module">
      <div class="container text-uppercase justify-content-between  d-flex align-items-center my-0 py-0">
        <h1 style="">Crear una Nueva Lista</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%= render 'list_new_form' %>
</div>
