// Define variables for your color scheme

// For example:
$red: #ea3c33;
$blue: #3aafe5;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$fuschia: #7b00ff;


// brand colors
$dark-blue: #024b64;
$light-blue: #a7d6eb;
$light-red: #ed6f69;
