.edit-user-container {
  background-color: #de8bb9;
  img {
    max-height: 600px;

  }
  h2 {
    text-transform: uppercase;
    text-align: center;
    color: grey;
    margin-top: 20px;
  }
  p {
    text-align: center;
  }
  .btn {
    margin-top: 15px;
    width: 75%;
    height: 45px;
    background-color: #db8bde;
    border: 2px solid #9c6ef2;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;

  }
  .btn:hover {
    opacity: 0.8;
  }
}
