.edit-user-container {
  background: linear-gradient(to bottom right, $secondary, $complementary);
  margin-top: 60px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

  input {
    border-radius: 5px;
  }
  label {
    font-weight: bold;
    color: $primary;
  }

  h2 {
    text-transform: uppercase;
    text-align: center;
    color: grey;
    margin-top: 20px;
  }


  img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    object-fit: fill;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .btn {
    margin-top: 15px;
    height: 45px;
    border: 2px solid #9c6ef2;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease;

  }
  .btn:hover {
    opacity: 0.8;
  }

  .form-actions {

  }

  .info-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      margin-left: 5px;
    }
  }
  .info-detalle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
  }
}
