.gift-new-container {
  background: linear-gradient(to bottom right, $purple, $complementary);
  margin-top: 60px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  
  img {
    max-height: 600px;
    min-height: 400px;
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .input-group-addon {
    width: 30px !important;
    color: $primary;
    font-size: 1.2em;
    padding: 3px;
    justify-content: center;
    text-align: center;

  }
}
