.container-forn-new-gift {
  // background: linear-gradient(to bottom right, $purple, $complementary);
  margin-top: 60px;
  margin-bottom: 60px;
  // padding: 20px;
  border-radius: 30px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.3);
}

.fondo{
  background: linear-gradient(to bottom right, $secondary, $complementary);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.gift-new-container {

  img {
    max-height: 600px;
    min-height: 400px;
  }
  h2 {
    padding-top: 25px;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .input-group-addon {
    width: 30px !important;
    color: $primary;
    font-size: 1.2em;
    padding: 3px;
    justify-content: center;
    text-align: center;

  }
}
