.gift-new-container {
  background-color: white;
  img {
    max-height: 600px;
    min-height: 400px;
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .input-group-addon {
    width: 30px !important;
    color: $primary;
    font-size: 1.2em;
    padding: 3px;
    justify-content: center;
    text-align: center;

  }
}
