.gift-edit-container {
  background-color: hsl(281, 38%, 67%);
  img {
    max-height: 300px;
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
    color: grey;
    padding: 10px;
  }
  p {
    text-align: center;
  }
}
