<%# <div class="footer mt-auto container__footer">

  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>


  </div>
    <div class="footer-copyright">
      <p>Creado con <i class="fas fa-heart"></i> para el mundo</p>
    </div>
</div> %>

<div class="footer mt-auto">
  <div class="container__footer">
    <div class="box__footer">
      <div class="logo">
        <%= image_tag "logos/galo_logo.png" %>
      </div>
      <div class="terms">
        <p>Galo ha sido creada por 4 integrantes del Batch-905 de Le Wagon con mucho esfuerzo y dedicación. Disponibles para contrataciones</p>
      </div>
    </div>
    <div class="box__footer">
      <h2>Soluciones</h2>
      <a href="https://www.google.com">App Desarrollo</a>
      <a href="#">App Marketing</a>
      <a href="#">IOS Desarrollo</a>
      <a href="#">Android Desarrollo</a>
    </div>

    <div class="box__footer">
      <h2>Compañia</h2>
      <a href="#">Acerca de</a>
      <a href="#">Trabajos</a>
      <a href="#">Procesos</a>
      <a href="#">Servicios</a>
    </div>

    <div class="box__footer">
      <h2>Redes Sociales</h2>
      <a href="#"> <i class="fab fa-facebook"></i> Facebook</a>
      <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
      <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
      <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
    </div>

  </div>

  <div class="box__copyright">
      <hr>
      <p>Creado con <i class="fas fa-heart"></i> para el mundo <b>Batch905 - Le Wagon</b> - 2022</p>
  </div>
</div>
