<h1>Sector de prueba para comentarios</h1>

<%= simple_form_for [gift, comment] do |f| %>
    <%= f.input :content, label: "Ingresa tu comentario..." %>
    <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
