
<%# PARA HACER EL GRID, SE HACE POR ARRIBA DE LA ITERACIÓN %>
<div class="container">
  <%= render "shared/gift_order" %>
  <div class="cards my-3">
      <% if params[:user].present? %>
        <% @gifts.includes(:list).where('lists.user_id = ?', params[:user]).references(:lists).each do |gift| %>
          <%= render "gift_card", gift: gift %>
        <% end %>
      <% else %>
        <% @gifts.includes(:list).where('lists.privacy = ?', 'pública').references(:lists).each do |gift| %>
          <%= render "gift_card", gift: gift %>
        <% end %>
      <% end %>
  </div>
</div>
