<div class="container gift-new-container">
  <div class="row">
    <div class="d-flex justify-content-around align-items-center">
      <div class="d-flex flex-column justify-content-around">
        <%= image_tag "backgrounds/claw-gift.jpg" %>
      </div>
      <div class="">
        <h2>Sumá un regalo</h2>
        <p>en tu lista <%= @list.title %></p>
        <%= render 'gift_new_form' %>
      </div>
    </div>
  </div>
</div>
