<div class="container container-form-new-gift">
  <div class="row">
    <div class="col-6 d-flex align-items-center flex-column justify-content-around">
      <div class="flexbox rotate-scale-up">
        <%= image_tag "logos/galo_logo.png" %>
      </div>
    </div>
    <div class="col-6 fondo">
      <div class="gift-new-container">
        <h2>Sumá un regalo</h2>
        <%= render 'gift_new_form' %>
      </div>
    </div>
  </div>
</div>
