<div class="container container-forn-new-gift">
  <div class="row">
    <div class="col-6">
      <div>
        <%= image_tag "logos/galo_logo.png" %>
      </div>
    </div>
    <div class="col-6 fondo">
      <div class="gift-new-container">
        <h2>Sumá un regalo</h2>
        <p>a la lista</p>
        <%= render 'gift_new_form' %>
      </div>
    </div>
  </div>
</div>
