
<section id="homecard" class="hero-section m-5">
  <div class="card-grid">
    <div class="card m-2">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557177324-56c542165309?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)"></div>
      <div class="card__content">
        <h3 class="card__heading">Elige</h3>
        <p class="card__category">Arma tu lista con tus regalos favoritos de internet en un solo lugar</p>
      </div>
    </div>
    <div class="card m-2">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557187666-4fd70cf76254?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
      <div class="card__content">
        <h3 class="card__heading">Comparte</h3>
        <p class="card__category">Con tus amigos, familiares, compañeros de trabajo para que sepan que te gustaría recibir como regalo</p>
      </div>
    </div>
    <div class="card m-2">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
      <div class="card__content">
        <h3 class="card__heading">Disfruta</h3>
        <p class="card__category">Siempre del regalo perfecto para vos</p>
      </div>
    </li>
    </div>
    <div class="card m-2">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557004396-66e4174d7bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
      <div class="card__content">
        <h3 class="card__heading">Por qué elegirnos?</h3>
        <p class="card__category">Buscamos simplificar la tarea de elegír un regalo para vos o para regalar, ahorrando tiempo, dinero y generando alegría en cada regalo</p>
      </div>
    </div>
  <div>
</section>
