
<section id="homecard" class="hero-section m-5">
  <div class="card-grid">
    <div class="card m-2">
      <div class="card__background"  style="background-image: linear-gradient(135deg, rgba(0,0,0,0.2)0%, rgba(0,0,0,0.1)75%), url(<%= asset_path "backgrounds/card1.jpg" %>)"></div>
      <div class="card__content">
        <h3 class="card__heading">Elegí</h3>
        <p class="card__category text-justify">Armá tu lista, con tus regalos favoritos, en un solo lugar.</p>
      </div>
    </div>
    <div class="card m-2">
      <div class="card__background" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.2)0%, rgba(0,0,0,0.1)75%), url(<%= asset_path "backgrounds/card2.jpg" %>)"></div>
      <div class="card__content">
        <h3 class="card__heading">Compartí</h3>
        <p class="card__category text-justify">Con tus amigos y familiares, para que sepan qué te gustaría recibir como re-GALO.</p>
      </div>
    </div>
    <div class="card m-2">
      <div class="card__background" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.2)0%, rgba(0,0,0,0.1)75%), url(<%= asset_path "backgrounds/card3.jpg" %>)"></div>
      <div class="card__content">
        <h3 class="card__heading">Disfrutá</h3>
        <p class="card__category">Siempre el re-GALO perfecto para vos.</p>
      </div>
    </li>
    </div>
    <div class="card m-2">
      <div class="card__background" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.2)0%, rgba(0,0,0,0.1)75%), url(<%= asset_path "backgrounds/card4.jpg" %>)"></div>
      <div class="card__content">
        <h3 class="card__heading">¿Por qué GALO?</h3>
        <p class="card__category text-justify">Buscamos simplificar la tarea de elegir un regalo para vos o para alguien más, ahorrando tiempo, dinero y generando alegría en cada re-GALO.</p>
      </div>
    </div>
  <div>
</section>
