
<section id="homecard" class="hero-section m-5">
  <div class="card-grid">
    <div class="card m-2">
      <div class="card__background"  style="background-image: linear-gradient(135deg, rgba(0,0,0,0.2)0%, rgba(0,0,0,0.1)75%), url(<%= asset_path "backgrounds/card1.jpg" %>)"></div>
      <div class="card__content">
        <h3 class="card__heading">Elige</h3>
        <p class="card__category">Arma tu lista con tus regalos favoritos de internet en un solo lugar</p>
      </div>
    </div>
    <div class="card m-2">
      <div class="card__background" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.2)0%, rgba(0,0,0,0.1)75%), url(<%= asset_path "backgrounds/card2.jpg" %>)"></div>
      <div class="card__content">
        <h3 class="card__heading">Comparte</h3>
        <p class="card__category">Con tus amigos, familiares, compañeros de trabajo para que sepan que te gustaría recibir como regalo</p>
      </div>
    </div>
    <div class="card m-2">
      <div class="card__background" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.2)0%, rgba(0,0,0,0.1)75%), url(<%= asset_path "backgrounds/card3.jpg" %>)"></div>
      <div class="card__content">
        <h3 class="card__heading">Disfruta</h3>
        <p class="card__category">Siempre del regalo perfecto para vos</p>
      </div>
    </li>
    </div>
    <div class="card m-2">
      <div class="card__background" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.2)0%, rgba(0,0,0,0.1)75%), url(<%= asset_path "backgrounds/card4.jpg" %>)"></div>
      <div class="card__content">
        <h3 class="card__heading">Por qué elegirnos?</h3>
        <p class="card__category">Buscamos simplificar la tarea de elegír un regalo para vos o para regalar, ahorrando tiempo, dinero y generando alegría en cada regalo</p>
      </div>
    </div>
  <div>
</section>
