<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/djkzewvwv/image/upload/v1666456184/development/david-everett-strickler-9QndjmrMeBE-unsplash_nrd4sy.jpg);">
  <div class="m-5">
    <h1 class="gradient-text">GALO <i class="fa-sharp fa-solid fa-gift"></i></h1>
    <p><span data-controller="typed-js"></span></p>
    <%= link_to "Encontrá tu regalo perfecto", lists_path, class:"btn btn-primary mt-5" %>
  </div>
</div>
