.form-gift {
  padding: 1rem;
  background-color: #222;
  opacity: 0.6;
  margin: 1rem;
  background: linear-gradient(to right, red, purple);
  border-radius: 5px;
  .form-gift-item {
    margin-bottom: 0px !important;
    color: $primary;
    margin: 10px 0;
    font-size: 0.7em;
  }
}
