.card-gift {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: left;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 10px;
  height: 420px;
  background-color: white;
  transition: all 0.2s ease-in-out;
  a {
    text-decoration: none;
  }
  a:hover {
    transform: scale(1.05)
  }
  .gift-bottom {
    padding: 0 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 10px 0;
    align-items: center;
  }
  .gift-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-gift img {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.card-gift h2 {
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  margin: 0;
  padding-left: 10px;
  text-transform: uppercase;
}

.card-gift p {
  font-size: 12px;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0;
}

.card-gift .gift-info {
  margin: 10px 0;
  padding-left: 10px;
  height: 36px;
}

.gift-price {
  font-size: 20px !important;
  opacity: 1;
  font-weight: bold;
  padding-left: 10px;
}

.new-gift-badge {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.card-gift:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px $complementary;
}
