.list-card {
  transition: all .2s ease-in-out;

  span {
    margin-bottom: 0px !important;
  }
  h2 {
    text-transform: capitalize;
    color: white;
  }

  p {
    color: white;
  }

  a {
    text-decoration: none;
    color:none;
    font-weight: none;
  }
  .whatsapp-share {
    color: white;
    font-size: 0.7em;
    font-weight: 500;
    i{
      color: #25D366;
      font-size: 1em;
    }
  }
}

li.list-card:hover {
  transform: scale(1.05);
}

.new-badge {
  position: absolute;
  top: -15px;
  right: -15px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
