.list-card {
  transition: all .2s ease-in-out;

  span {
    margin-bottom: 0px !important;
  }
  h2 {
    text-transform: uppercase;

  }
  p {

  }
}

li.list-card:hover {
  transform: scale(1.05);
}

.new-badge {
  position: absolute;
  top: -15px;
  right: -15px;
}
