.form-list {
  padding: 1rem;
  background-color: #222;
  opacity: 0.6;
  margin: 1rem;
  background: linear-gradient(to right, $magenta, $majorelle-blue);
  border-radius: 5px;
  .form-item {
    margin-bottom: 0px !important;
    color: $primary;
    margin: 0 5px;
    font-size: 0.7em;
  }
  .form-item:nth-of-type(2) {
    flex-grow: 3;
  }
}
