#list-show {
  h1 {
    font-size: 24px;
  }



.top-section {
  padding-top: 20px;
  clip-path: polygon(0 0,100% 0,100% calc(100% - 50px),50% 100%,0 calc(100% - 50px));
  background-color: $complementary;
  height: 300px;
}
.bottom-section {
  padding: 40px 0;
  clip-path: polygon(0 0,50% 50px,100% 0,100% 100%,0 100%);
  margin-top: -45px;
  background: $secondary;
}

  .list-header {
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    color: white;
    background-color: $primary;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;

    .btn {
      border: 1px solid white;
    }
  }
}
