.navbar-lewagon {
  justify-content: space-evenly;
  background: #535353;
  opacity: 0.7;

  .search-input {
    max-width: 300px
  }
  .nav-link {
    font-weight: bold;
    color: #1EDD88;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
