.navbar-lewagon {
  justify-content: space-evenly;
  background-color: transparent;
  z-index: 100;
  .search-input {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 600px;
    flex-grow: 2;
  }
  .avatar {
    height: 40px;
    width: 40px;
    object-fit: fill;
  }
  .nav-link {

    color: $primary;
    text-shadow: 1px 0.5px #14141444;
    text-transform: uppercase;
  }

  .btn-outline-success {
    color: $primary;
    border-color: $primary;

  }
  .btn-outline-success:hover {
    background-color: $primary;
    color: white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-new-bg {
  background-color: rgba(150, 150, 150, 0.688);
}

.dropdown-menu {
  background-color: $complementary;
  border-radius: 5px;
  opacity: 0.9;
  text-shadow: 1px 0.5px #14141444;
  text-transform: uppercase;
  text-align: center;
  .dropdown-item:hover {
    font-weight: bold;
    color: black !important;
  }
  .dropdown-item {
    color: $ghost-white !important;
  }
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.raise {
  color: var(--color);
  transition: 0.25s;

  &:hover,
  &:focus {
    border-color: var(--hover);
    color: $secondary;
  }
}
