.navbar-lewagon {
  justify-content: space-evenly;
  background-color: transparent;
  z-index: 100;
  .search-input {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 600px;
    flex-grow: 2;
  }
  .nav-link {
    font-weight: bold;
    color: $fuschia;
    text-shadow: 1px 0.5px #14141444;
    text-transform: uppercase;
  }

  .btn-outline-success {
    color: $fuschia;
    border-color: $fuschia;

  }
  .btn-outline-success:hover {
    background-color: $fuschia;
    color: white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-new-bg {
  background-color: rgba(150, 150, 150, 0.688);
}
