.module-border-wrap {
  width: 80%;
  padding: 1rem;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
  margin: auto;
}

.module {
  background: #222;
  color: white;
  padding: 2rem;
}
